@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Dosis:wght@200..800&family=Jacquard+12+Charted&family=Jersey+25&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
  background-color: rgba(0, 0, 0, 0.788);
  font-family: "Dancing Script", cursive;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  overflow-y: auto;
  max-width: 100%;
  margin: 0;
  padding: 0 20px; /* Add margins to the sides */
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)) ,url(public/gym-palermo.jpg);
}



h1 {
  position: relative;
  font-size: 4rem;
  text-transform: uppercase;
  letter-spacing: -0.01em;
  background-color: #fff;
  color: #5a3018;
  text-align: center;
  transform: translateY(-100%);
  animation: fall 1s ease-out forwards, bounce 0.5s ease-out 1s forwards;
}

@keyframes fall {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}





.container {
  max-width: 100%; 
  width: 100%;
  margin: 0 auto;
  position: relative;
}


.datos_personales,
.datos_contacto,
.actividades,
.campo {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-bottom: 20px;
}

.datos_personales label,
.datos_contacto label,
.actividades label,
.campo label, .campo-s label {
  display: block;
  text-align: center;
  margin-bottom: 5px;
  color: black;
  font-weight: 600;
  font-size: 20px;
}

.datos_personales,
.datos_contacto,
.actividades,
.campo input,
.campo select,
.campo textarea, .campo-s input {
  width: 90%;
  padding: 12px 16px;
  border-radius: 8px;
  border: 2px solid var(--main-color);
  background-color: var(--bg-color);
  box-shadow: 4px 4px var(--main-color);
  font-size: 15px;
  font-weight: 600;
  color: var(--font-color);
  outline: none;
}

.campo input::placeholder,
.campo select::placeholder,
.campo textarea::placeholder, .campo-s input::placeholder {
  color: var(--font-color-sub);
  opacity: 0.8;
}

.campo input:focus,
.campo select:focus,
.campo textarea:focus, .campo-s input:focus{
  border: 2px solid var(--input-focus);
}

.sexo-p{
  text-align: center;
  font-size: 20px;
}
.sexo_container{
  text-align: center;
}


.datos_personales fieldset,
.datos_contacto fieldset,
.actividades fieldset {
  --input-focus: #2d8cf0;
  --font-color: #323232;
  --font-color-sub: #666;
  --bg-color: beige;
  --main-color: black;
  padding: 20px;
  background: lightblue;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 20px;
  border-radius: 5px;
  border: 2px solid var(--main-color);
  box-shadow: 4px 4px var(--main-color);
}

.datos_personales legend,
.datos_contacto legend,
.actividades legend{
  color: #5a3018;
  font-weight: bolder;
  font-size: 1.5rem;
  background-color: #ff9c40f5;
  padding: 3px 10px;
  border-radius: 5px;
  text-align: center;

}

.condiciones, .novedades{
  text-align: center;
  color: white;
}

button {
  width: 10em;
  height: 3em;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background: #183153;
  font-family: "Montserrat", sans-serif;
  box-shadow: 0px 6px 24px 0px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  cursor: pointer;
  border: none;
}

button:after {
  content: " ";
  width: 0%;
  height: 100%;
  background: #ff9c40f5;
  position: absolute;
  transition: all 0.4s ease-in-out;
  right: 0;
}

button:hover::after {
  right: auto;
  left: 0;
  width: 100%;
}

button span {
  text-align: center;
  text-decoration: none;
  width: 100%;
  padding: 18px 25px;
  color: #fff;
  font-size: 1.125em;
  font-weight: 700;
  letter-spacing: 0.2em;
  z-index: 20;
  transition: all 0.3s ease-in-out;
}

button:hover span {
  color: #183153;
  animation: scaleUp 0.3s ease-in-out;
}

@keyframes scaleUp {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(0.95);
  }

  100% {
    transform: scale(1);
  }
}


.botones{
  display: flex;
  margin: 0 auto;
  justify-content: center;
  margin: 2rem 0;
}

.boton-1{
  margin-right: 4rem;
}



span{
  color: #ff9c40f5;
}
@media (max-width:800px){

  img{
    display: none;
  }
  
  .rutina{
    display: none;
  }
}

@media (min-width:800px){

  
  h1{
  position: relative;
  font-size: 4rem;
  text-transform: uppercase;
  letter-spacing: -0.01em;
  color: #5a3018;
  text-align: center;
  transform: translateY(-100%);
  animation: fall 1s ease-out forwards, bounce 0.5s ease-out 1s forwards;
  }

  .container-form {
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 100%;
    
  }

  

  .actividades, .datos_contacto{
    height: 20rem;
    
  }

  .sexo-p{
    text-align: center;
  }
  .sexo_container{
    display: flex;
  }
  
  .container-info {
    clear: both;
    margin-top: 2rem;
  }
  
  .condiciones {
    margin-bottom: 1rem ;
  }

  .container-info{
    justify-content: left;
  }
  
  button{
    width: 11rem;
    height: 4rem;
    font-size: 20px;
  }


  
  img{
    text-align: center;
    margin: 4rem 5rem;
    width: 60%;
    height: auto;
    border-radius: 200px;
    transition: transform 0.3s ease;
    
  }
  img:hover{
    transform: scale(1.2); 
  }
  .img-palermo:hover, .img-rosario:hover{
    
    transform: scale(1.2); 
    
  }

  .rutina{
    margin-top: 6rem;
    text-align: center;
    font-size: 60px;
    background-color: wheat;
    padding: 7rem 0;
  }

}

@media (max-width:1000px){
  img{
    display: none;
  }
}

